{{#site-header title='数据面板'}}
  <svg class="nc-icon glyph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32"> <g> <path d="M19,4h-6c-0.6,0-1,0.4-1,1v22c0,0.6,0.4,1,1,1h6c0.6,0,1-0.4,1-1V5C20,4.4,19.6,4,19,4z"></path> <path d="M9,18H3c-0.6,0-1,0.4-1,1v8c0,0.6,0.4,1,1,1h6c0.6,0,1-0.4,1-1v-8C10,18.4,9.6,18,9,18z"></path> <path d="M29,12h-6c-0.6,0-1,0.4-1,1v14c0,0.6,0.4,1,1,1h6c0.6,0,1-0.4,1-1V13C30,12.4,29.6,12,29,12z "></path> </g> </svg>
{{/site-header}}

{{!--------------------------------------------- 收入 ---------------------------------------------}}

{{#ui-grid}}
  <div class='column trisector'>
    {{#ui-pane title='总收入金额' icon='users-16px_single-body' iconColor='#8DABC4' class='dashboard'}}
      <section>
        <div class='heading-chart-a'>
          <svg viewBox="0 0 39 44" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FACA00" d="M12 13.501c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm-12 0c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm36 13.329c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171zm-12-25.327c0-.829.666-1.502 1.5-1.502.828 0 1.5.674 1.5 1.502v42.498h-3v-42.498zm-18 3.993c0-.826.666-1.495 1.5-1.495.828 0 1.5.677 1.5 1.495v38.505h-3v-38.505zm24 13.329c0-.823.666-1.491 1.5-1.491.828 0 1.5.673 1.5 1.491v25.176h-3v-25.176zm-12 8.005c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171z"/>
          </svg>
          <h1>{{add-commas model.income.TotalCapital}}</h1>
        </div>
      </section>
    {{/ui-pane}}
  </div>
  <div class='column trisector'>
    {{#ui-pane title='数据包金额' icon='users-16px-2_a-add' iconColor='#8DABC4' class='dashboard'}}
      <section>
        <div class='heading-chart-a'>
          <svg viewBox="0 0 39 44" xmlns="http://www.w3.org/2000/svg">
            <path fill="#AB7DF6" d="M12 13.501c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm-12 0c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm36 13.329c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171zm-12-25.327c0-.829.666-1.502 1.5-1.502.828 0 1.5.674 1.5 1.502v42.498h-3v-42.498zm-18 3.993c0-.826.666-1.495 1.5-1.495.828 0 1.5.677 1.5 1.495v38.505h-3v-38.505zm24 13.329c0-.823.666-1.491 1.5-1.491.828 0 1.5.673 1.5 1.491v25.176h-3v-25.176zm-12 8.005c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171z"/>
          </svg>
          <h1>{{add-commas model.income.DataSum}}</h1>
        </div>
      </section>
    {{/ui-pane}}
  </div>
  <div class='column trisector'>
    {{#ui-pane title='红包金额' icon='users-16px-2_a-add' iconColor='#8DABC4' class='dashboard'}}
      <section>
        <div class='heading-chart-a'>
          <svg viewBox="0 0 39 44" xmlns="http://www.w3.org/2000/svg">
            <path fill="#AB7DF6" d="M12 13.501c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm-12 0c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm36 13.329c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171zm-12-25.327c0-.829.666-1.502 1.5-1.502.828 0 1.5.674 1.5 1.502v42.498h-3v-42.498zm-18 3.993c0-.826.666-1.495 1.5-1.495.828 0 1.5.677 1.5 1.495v38.505h-3v-38.505zm24 13.329c0-.823.666-1.491 1.5-1.491.828 0 1.5.673 1.5 1.491v25.176h-3v-25.176zm-12 8.005c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171z"/>
          </svg>
          <h1>{{add-commas model.income.RedSum}}</h1>
        </div>
      </section>
    {{/ui-pane}}
  </div>
{{/ui-grid}}

{{!--------------------------------------------- 支出 ---------------------------------------------}}

{{#ui-grid}}
  <div class='column trisector'>
    {{#ui-pane title='总支出金额' icon='users-16px_single-body' iconColor='#8DABC4' class='dashboard'}}
      <section>
        <div class='heading-chart-a'>
          <svg viewBox="0 0 39 44" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FACA00" d="M12 13.501c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm-12 0c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm36 13.329c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171zm-12-25.327c0-.829.666-1.502 1.5-1.502.828 0 1.5.674 1.5 1.502v42.498h-3v-42.498zm-18 3.993c0-.826.666-1.495 1.5-1.495.828 0 1.5.677 1.5 1.495v38.505h-3v-38.505zm24 13.329c0-.823.666-1.491 1.5-1.491.828 0 1.5.673 1.5 1.491v25.176h-3v-25.176zm-12 8.005c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171z"/>
          </svg>
          <h1>{{add-commas model.payment.TotalCapital}}</h1>
        </div>
      </section>
    {{/ui-pane}}
  </div>
  <div class='column trisector'>
    {{#ui-pane title='数据解锁金额' icon='users-16px-2_a-add' iconColor='#8DABC4' class='dashboard'}}
      <section>
        <div class='heading-chart-a'>
          <svg viewBox="0 0 39 44" xmlns="http://www.w3.org/2000/svg">
            <path fill="#AB7DF6" d="M12 13.501c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm-12 0c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm36 13.329c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171zm-12-25.327c0-.829.666-1.502 1.5-1.502.828 0 1.5.674 1.5 1.502v42.498h-3v-42.498zm-18 3.993c0-.826.666-1.495 1.5-1.495.828 0 1.5.677 1.5 1.495v38.505h-3v-38.505zm24 13.329c0-.823.666-1.491 1.5-1.491.828 0 1.5.673 1.5 1.491v25.176h-3v-25.176zm-12 8.005c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171z"/>
          </svg>
          <h1>{{add-commas model.payment.DataSum}}</h1>
        </div>
      </section>
    {{/ui-pane}}
  </div>
  <div class='column trisector'>
    {{#ui-pane title='红包发放金额' icon='users-16px-2_a-add' iconColor='#8DABC4' class='dashboard'}}
      <section>
        <div class='heading-chart-a'>
          <svg viewBox="0 0 39 44" xmlns="http://www.w3.org/2000/svg">
            <path fill="#AB7DF6" d="M12 13.501c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm-12 0c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm36 13.329c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171zm-12-25.327c0-.829.666-1.502 1.5-1.502.828 0 1.5.674 1.5 1.502v42.498h-3v-42.498zm-18 3.993c0-.826.666-1.495 1.5-1.495.828 0 1.5.677 1.5 1.495v38.505h-3v-38.505zm24 13.329c0-.823.666-1.491 1.5-1.491.828 0 1.5.673 1.5 1.491v25.176h-3v-25.176zm-12 8.005c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171z"/>
          </svg>
          <h1>{{add-commas model.payment.RedSum}}</h1>
        </div>
      </section>
    {{/ui-pane}}
  </div>
{{/ui-grid}}


{{!--------------------------------------------- 用户 ---------------------------------------------}}

{{#ui-grid}}
  <div class='column trisector'>
    {{#ui-pane title='全部用户' icon='users-16px_single-body' iconColor='#8DABC4' class='dashboard'}}
      <section>
        <div class='heading-chart-a'>
          <svg viewBox="0 0 39 44" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FACA00" d="M12 13.501c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm-12 0c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm36 13.329c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171zm-12-25.327c0-.829.666-1.502 1.5-1.502.828 0 1.5.674 1.5 1.502v42.498h-3v-42.498zm-18 3.993c0-.826.666-1.495 1.5-1.495.828 0 1.5.677 1.5 1.495v38.505h-3v-38.505zm24 13.329c0-.823.666-1.491 1.5-1.491.828 0 1.5.673 1.5 1.491v25.176h-3v-25.176zm-12 8.005c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171z"/>
          </svg>
          <h1>{{add-commas model.user.UserCount}}</h1>
        </div>
      </section>
    {{/ui-pane}}
  </div>
  <div class='column trisector'>
    {{#ui-pane title='免费用户' icon='users-16px-2_a-add' iconColor='#8DABC4' class='dashboard'}}
      <section>
        <div class='heading-chart-a'>
          <svg viewBox="0 0 39 44" xmlns="http://www.w3.org/2000/svg">
            <path fill="#AB7DF6" d="M12 13.501c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm-12 0c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm36 13.329c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171zm-12-25.327c0-.829.666-1.502 1.5-1.502.828 0 1.5.674 1.5 1.502v42.498h-3v-42.498zm-18 3.993c0-.826.666-1.495 1.5-1.495.828 0 1.5.677 1.5 1.495v38.505h-3v-38.505zm24 13.329c0-.823.666-1.491 1.5-1.491.828 0 1.5.673 1.5 1.491v25.176h-3v-25.176zm-12 8.005c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171z"/>
          </svg>
          <h1>{{add-commas model.user.FreeUserCount}}</h1>
        </div>
      </section>
    {{/ui-pane}}
  </div>
  <div class='column trisector'>
    {{#ui-pane title='高级用户' icon='users-16px-2_a-add' iconColor='#8DABC4' class='dashboard'}}
      <section>
        <div class='heading-chart-a'>
          <svg viewBox="0 0 39 44" xmlns="http://www.w3.org/2000/svg">
            <path fill="#AB7DF6" d="M12 13.501c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm-12 0c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm36 13.329c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171zm-12-25.327c0-.829.666-1.502 1.5-1.502.828 0 1.5.674 1.5 1.502v42.498h-3v-42.498zm-18 3.993c0-.826.666-1.495 1.5-1.495.828 0 1.5.677 1.5 1.495v38.505h-3v-38.505zm24 13.329c0-.823.666-1.491 1.5-1.491.828 0 1.5.673 1.5 1.491v25.176h-3v-25.176zm-12 8.005c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171z"/>
          </svg>
          <h1>{{add-commas model.user.AdUserCount}}</h1>
        </div>
      </section>
    {{/ui-pane}}
  </div>
{{/ui-grid}}

{{!--------------------------------------------- 问卷 ---------------------------------------------}}

{{#ui-grid}}
  <div class='column trisector'>
    {{#ui-pane title='问卷数量' icon='users-16px_single-body' iconColor='#8DABC4' class='dashboard'}}
      <section>
        <div class='heading-chart-a'>
          <svg viewBox="0 0 39 44" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FACA00" d="M12 13.501c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm-12 0c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm36 13.329c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171zm-12-25.327c0-.829.666-1.502 1.5-1.502.828 0 1.5.674 1.5 1.502v42.498h-3v-42.498zm-18 3.993c0-.826.666-1.495 1.5-1.495.828 0 1.5.677 1.5 1.495v38.505h-3v-38.505zm24 13.329c0-.823.666-1.491 1.5-1.491.828 0 1.5.673 1.5 1.491v25.176h-3v-25.176zm-12 8.005c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171z"/>
          </svg>
          <h1>{{add-commas model.form.QuesCount}}</h1>
        </div>
      </section>
    {{/ui-pane}}
  </div>
  <div class='column trisector'>
    {{#ui-pane title='发布数量' icon='users-16px-2_a-add' iconColor='#8DABC4' class='dashboard'}}
      <section>
        <div class='heading-chart-a'>
          <svg viewBox="0 0 39 44" xmlns="http://www.w3.org/2000/svg">
            <path fill="#AB7DF6" d="M12 13.501c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm-12 0c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm36 13.329c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171zm-12-25.327c0-.829.666-1.502 1.5-1.502.828 0 1.5.674 1.5 1.502v42.498h-3v-42.498zm-18 3.993c0-.826.666-1.495 1.5-1.495.828 0 1.5.677 1.5 1.495v38.505h-3v-38.505zm24 13.329c0-.823.666-1.491 1.5-1.491.828 0 1.5.673 1.5 1.491v25.176h-3v-25.176zm-12 8.005c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171z"/>
          </svg>
          <h1>{{add-commas model.form.OnlineCount}}</h1>
        </div>
      </section>
    {{/ui-pane}}
  </div>
  <div class='column trisector'>
    {{#ui-pane title='未发布数量' icon='users-16px-2_a-add' iconColor='#8DABC4' class='dashboard'}}
      <section>
        <div class='heading-chart-a'>
          <svg viewBox="0 0 39 44" xmlns="http://www.w3.org/2000/svg">
            <path fill="#AB7DF6" d="M12 13.501c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm-12 0c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm36 13.329c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171zm-12-25.327c0-.829.666-1.502 1.5-1.502.828 0 1.5.674 1.5 1.502v42.498h-3v-42.498zm-18 3.993c0-.826.666-1.495 1.5-1.495.828 0 1.5.677 1.5 1.495v38.505h-3v-38.505zm24 13.329c0-.823.666-1.491 1.5-1.491.828 0 1.5.673 1.5 1.491v25.176h-3v-25.176zm-12 8.005c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171z"/>
          </svg>
          <h1>{{add-commas model.form.PublishCount}}</h1>
        </div>
      </section>
    {{/ui-pane}}
  </div>
{{/ui-grid}}

{{!--------------------------------------------- 访问量 ---------------------------------------------}}

{{#ui-grid}}
  <div class='column trisector'>
    {{#ui-pane title='主页' icon='users-16px_single-body' iconColor='#8DABC4' class='dashboard'}}
      <section>
        <div class='heading-chart-a'>
          <svg viewBox="0 0 39 44" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FACA00" d="M12 13.501c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm-12 0c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm36 13.329c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171zm-12-25.327c0-.829.666-1.502 1.5-1.502.828 0 1.5.674 1.5 1.502v42.498h-3v-42.498zm-18 3.993c0-.826.666-1.495 1.5-1.495.828 0 1.5.677 1.5 1.495v38.505h-3v-38.505zm24 13.329c0-.823.666-1.491 1.5-1.491.828 0 1.5.673 1.5 1.491v25.176h-3v-25.176zm-12 8.005c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171z"/>
          </svg>
          <h1>{{add-commas model.utilization.DashboardCount}}</h1>
        </div>
      </section>
    {{/ui-pane}}
  </div>
  <div class='column trisector'>
    {{#ui-pane title='设计端' icon='users-16px-2_a-add' iconColor='#8DABC4' class='dashboard'}}
      <section>
        <div class='heading-chart-a'>
          <svg viewBox="0 0 39 44" xmlns="http://www.w3.org/2000/svg">
            <path fill="#AB7DF6" d="M12 13.501c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm-12 0c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm36 13.329c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171zm-12-25.327c0-.829.666-1.502 1.5-1.502.828 0 1.5.674 1.5 1.502v42.498h-3v-42.498zm-18 3.993c0-.826.666-1.495 1.5-1.495.828 0 1.5.677 1.5 1.495v38.505h-3v-38.505zm24 13.329c0-.823.666-1.491 1.5-1.491.828 0 1.5.673 1.5 1.491v25.176h-3v-25.176zm-12 8.005c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171z"/>
          </svg>
          <h1>{{add-commas model.utilization.DesignCount}}</h1>
        </div>
      </section>
    {{/ui-pane}}
  </div>
  <div class='column trisector'>
    {{#ui-pane title='数据端' icon='users-16px-2_a-add' iconColor='#8DABC4' class='dashboard'}}
      <section>
        <div class='heading-chart-a'>
          <svg viewBox="0 0 39 44" xmlns="http://www.w3.org/2000/svg">
            <path fill="#AB7DF6" d="M12 13.501c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm-12 0c0-.829.666-1.501 1.5-1.501.828 0 1.5.668 1.5 1.501v30.499h-3v-30.499zm36 13.329c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171zm-12-25.327c0-.829.666-1.502 1.5-1.502.828 0 1.5.674 1.5 1.502v42.498h-3v-42.498zm-18 3.993c0-.826.666-1.495 1.5-1.495.828 0 1.5.677 1.5 1.495v38.505h-3v-38.505zm24 13.329c0-.823.666-1.491 1.5-1.491.828 0 1.5.673 1.5 1.491v25.176h-3v-25.176zm-12 8.005c0-.826.666-1.496 1.5-1.496.828 0 1.5.664 1.5 1.496v17.171h-3v-17.171z"/>
          </svg>
          <h1>{{add-commas model.utilization.DataCount}}</h1>
        </div>
      </section>
    {{/ui-pane}}
  </div>
{{/ui-grid}}