{{#ui-dropdown local-class='router-dropdown'
               text='Dashboard'
               icon='design-16px-2_layout-11'
               color='transparent'
               customColor='white'
               horizontalPosition="left"}}
  <div class="option-contents">
    {{ui-item '数据面板' icon='design-16px-2_layout-11' route='dashboard.index'}}
    {{ui-item 'Enterprise' icon='business-16px_briefcase-24'}}
    {{ui-item 'User' icon='emoticons-16px_monster'}}
    {{ui-item 'Form' icon='files-16px_single-content-03'}}
    {{ui-item 'System' icon='tech-16px_desktop'}}
    {{ui-item 'Notification' icon='ui-16px-1_notification-69'}}
    {{ui-item 'Order' icon='shopping-16px_cart-simple'}}
    {{ui-item 'Task' icon='design-16px_window-code'}}
  </div>
{{/ui-dropdown}}